nav {
    margin-bottom: 10px;
}

div.navbar-div a.navbar-brand {
    margin-bottom: auto;
}

@media only screen and (min-width: 580px) {
    div.navbar-div {
        padding-left: 15px!important;
        padding-right: 15px!important;
    }
}

@media (max-width: 500px) {
    .navbar-nav {
        float: right;
        text-align: right;
    }
    .navbar-expand .navbar-nav {
        flex-direction: column;
    }
    a.navbar-brand small {
        display: block;
    }
    a.navbar-brand span.navbar-brand-divider {
        display: none;
    }
}

article {
    margin-bottom: 15px;
}

.card-body {
    padding-bottom: 0;
}

article.card p.card-header {
    padding: 0;
}